services:
  cassandra-0:
    image: us-west1-docker.pkg.dev/arcus-238802/arcus-prod/arcus/cassandra:latest
    environment:
    - CASSANDRA_SEEDS=192.168.2.10,cassandra-0
    - CASSANDRA_ENDPOINT_SNITCH=GossipingPropertyFileSnitch
    - CASSANDRA_DC=DC3
    - MAX_HEAP_SIZE=256M
    - HEAP_NEWSIZE=256M
    ports:
    - 7000
    - 7001
    - 7199
    - 9042
    - 9160
    volumes:
    - cassandra-storage-0:/data
    networks:
      arcus:
        ipv4_address: 192.168.3.10
    restart: always
    deploy:
      restart_policy:
        condition: any
        delay: 5s
        window: 120s
    logging:
      options:
        max-size: 50m
  cassandra-1:
    image: us-west1-docker.pkg.dev/arcus-238802/arcus-prod/arcus/cassandra:latest
    environment:
    - CASSANDRA_SEEDS=192.168.1.10,cassandra-0
    - CASSANDRA_ENDPOINT_SNITCH=GossipingPropertyFileSnitch
    - CASSANDRA_DC=DC3
    - MAX_HEAP_SIZE=256M
    - HEAP_NEWSIZE=256M
    ports:
    - 7000
    - 7001
    - 7199
    - 9042
    - 9160
    volumes:
    - cassandra-storage-1:/data
    networks:
      arcus:
        ipv4_address: 192.168.3.11
    restart: always
    deploy:
      restart_policy:
        condition: any
        delay: 5s
        window: 120s
    logging:
      options:
        max-size: 50m
  cassandra-2:
    image: us-west1-docker.pkg.dev/arcus-238802/arcus-prod/arcus/cassandra:latest
    environment:
    - CASSANDRA_SEEDS=192.168.1.10,cassandra-0
    - CASSANDRA_ENDPOINT_SNITCH=GossipingPropertyFileSnitch
    - CASSANDRA_DC=DC3
    - MAX_HEAP_SIZE=256M
    - HEAP_NEWSIZE=256M
    ports:
    - 7000
    - 7001
    - 7199
    - 9042
    - 9160
    volumes:
    - cassandra-storage-2:/data
    networks:
      arcus:
        ipv4_address: 192.168.3.12
    restart: always
    deploy:
      restart_policy:
        condition: any
        delay: 5s
        window: 120s
    logging:
      options:
        max-size: 50m
  cassandra-repair:
    image: docker:cli
    volumes:
    - /var/run/docker.sock:/var/run/docker.sock
    - ../../repair:/repair:ro
    entrypoint: /repair/entrypoint.sh
    environment:
    - DOCKER_API_VERSION=1.41
    - REPAIR_HOUR=10
    restart: always
    logging:
      options:
        max-size: 50m
  zookeeper-0:
    image: zookeeper:3.8
    environment:
      ZOO_MY_ID: 3
      ZOO_SERVERS: server.1=192.168.1.13:2888:3888;2181 server.2=192.168.2.13:2888:3888;2181 server.3=192.168.3.13:2888:3888;2181
    ports:
    - 2181
    volumes:
    - zookeeper-0:/data
    networks:
      arcus:
        ipv4_address: 192.168.3.13
    restart: always

volumes:
  cassandra-storage-0:
  cassandra-storage-1:
  cassandra-storage-2:
  zookeeper-0:
networks:
  private:

  arcus:
    driver: macvlan
    driver_opts:
      parent: br0
    ipam:
      config:
      - subnet: 192.168.3.0/24
